// Colors --------------
$primary: #58e1c1;
$secondary: #51ddfc;
$fontcol: #777;
$white: #fff;
$error: #e4757a;
$info: #927bc1;
$success: #63cc82;
$warning: #fd7856;

// Sizes --------------
$gutter: 10px;
$tablet: 768px;

// Maps --------------
$button-colors: (
  default: $secondary,
  error: $error,
  info: $info,
  success: $success,
  warning: $warning
);