/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.6s ease-out;
    @include btn-col($button-colors);
    @include media-q($tablet) {
        padding: 10px 30px;
    }
    &+& {
        @include media-q($tablet) {
            margin-left: 10px;
        }
    }
  }