/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.6s ease-out;
  }
  
.default {
    @include btn-col($secondary);
}

.error {
    @include btn-col($error);
}

.info {
    @include btn-col($info);
}

.success {
    @include btn-col($success)
}

.warning {
    @include btn-col($warning)
}