/* ============================================= */
/*              Grid System                      */
/* ============================================= */


.container {
    padding: 0 $gutter;
}

.row {
    display: flex;
    flex-direction: column;
    padding: 1em $gutter;
}

[class^=col] {
    margin-top: $gutter;
    flex-basis: 100%;
    min-height: 25px;
    padding: $gutter;
    border-radius: 5px;
}

.theme.col-1 {
    background-color: $info;
}

.theme.col-2 {
    background-color: $warning;
}

.theme.col-3 {
    background-color: #deb2ee;
}

.theme.col-4 {
    background-color: #7ee6fd;
}

.theme.col-5 {
    background-color: #88d9a0;
}

.theme.col-6 {
    background-color: #4da2bb;
}

.theme.col-7 {
    background-color: #ec9fa3;
}

.theme.col-8 {
    background-color: #fd9f85;
}

.theme.col-9 {
    background-color: $error;
}

.theme.col-10 {
    background-color: $success;
}

.theme.col-11 {
    background-color: $secondary;
}

.theme.col-12 {
    background-color: #80e8d1;
}

.card {
    flex-basis: 100%;
}

