/* ============================================= */
/*              Images                           */
/* ============================================= */


%img-rules {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 100%;
}

.img-avatar {
  @extend %img-rules;
  max-height: 100%;
}

.img-frame {
  @extend %img-rules;
  padding: 13px;
  border: 1px solid #ccc;
}

.img-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  @include media-q($tablet) {
    margin-left: initial;
    margin-right: initial;
  }
}