/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.nav {
    padding-left: 0;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    &-link {
        text-align: center;
        border-radius: 5px;
        padding: 10px 0;
        display: block;
        width: 100%;
        transition: 
            background-color .2s ease-in-out, 
            color .2s ease-in-out;
        @include media-q($tablet) {
            flex-basis: 100px;
        }
    }
    &-link:hover {
        color: $white;
        background-color: $primary;
    }
    @include media-q($tablet) {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}